@use 'color';
$font-stack: Arial, sans-serif;

body {
    font-family: $font-stack;
}

.btn-custom {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: $hover-color;
    }
}
